<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MPPreventivatore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MPI" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.30.0.2)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PDBRVL)));User Id=MPI;Password=MPI;" providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <applicationSettings>
    <MPPreventivatore.Properties.Settings>
      <setting name="RvlImageSite" serializeAs="String">
        <value>http://srv-webservices/rvlimmagini/</value>
      </setting>
    </MPPreventivatore.Properties.Settings>
  </applicationSettings>
</configuration>