<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PostingRegMag_Binding">
          <security mode="Transport" />
        </binding>
        <binding name="PostingRegMag_Binding1" />
        <binding name="FileManagement_Binding">
          <security mode="Transport" />
        </binding>
        <binding name="FileManagement_Binding1" />
        <binding name="WS_ProductConfigurator_Binding">
          <security mode="Transport" />
        </binding>
        <binding name="WS_ProductConfigurator_Binding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://srv-bc.viamattei.metal-plus.it:7147/PROD_WS/METALPLUS/Codeunit/PostingRegMag"
        binding="basicHttpBinding" bindingConfiguration="PostingRegMag_Binding"
        contract="ServicePostingRegMag.PostingRegMag_Port" name="PostingRegMag_Port" />
      <endpoint address="https://srv-bc.viamattei.metal-plus.it:7147/PROD_WS/METALPLUS%2008092021/Codeunit/FileManagement"
        binding="basicHttpBinding" bindingConfiguration="FileManagement_Binding"
        contract="FileManager.FileManagement_Port" name="FileManagement_Port" />
      <endpoint address="https://srv-bc.viamattei.metal-plus.it:7147/PROD_WS/METALPLUS/Codeunit/WS_ProductConfigurator"
        binding="basicHttpBinding" bindingConfiguration="WS_ProductConfigurator_Binding"
        contract="ServiceCopiaArticolo.WS_ProductConfigurator_Port"
        name="WS_ProductConfigurator_Port" />
    </client>
  </system.serviceModel>
</configuration>