<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="MPI" connectionString="Data Source=10.30.1.49;Initial Catalog=MPI_TEST;User Id=MPI;Password=MPI;" providerName="System.Data.SqlClient" />
      <add name="VerificaPianificazione.Properties.Settings.MPI_TESTConnectionString"
            connectionString="Data Source=srv-sql;Initial Catalog=MPI_TEST;Persist Security Info=True;User ID=MPI;Password=MPI"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>