@using MPIntranet.Models.Common
@{
    ViewBag.Title = "Bolle Vendita";
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}


<div class="content-top">
    <h2>Bolle Vendita</h2>
</div>
<div class="row col-lg-6">
    @Html.Label("Report")
    <label class="text-red input-sm" id="lblMessage"></label>
</div>
<div class="row col-lg-12">
    <div class="col-md-2">
        <label>Inizio turno</label><br />
        <input type="date" id="dtInizio" />
    </div>
    <div class="col-md-2">
        <label>Fine turno</label><br />
        <input type="date" id="dtFine" />
    </div>
    <div class="col-lg-2">
        <input type="button" onclick="caricaDati();" class="btn btn-primary" value="Trova" />
    </div>
    <div class="col-lg-2">
        <input type="button" onclick="Export();" class="btn btn-primary" value="Export" />
    </div>

</div>


<br />
<div class="col-md-12" style="font-size:8px" id="divReportBolle"></div>

<script language="javascript" type="text/javascript">
    $(function ()
    {

        var iso = new Date().toISOString();
        iso = iso.split('T')[0];
        $('#dtFine').val(iso);

        var date = new Date();
        date.setDate(date.getDate() - 7);
        iso = date.toISOString();
        iso = iso.split('T')[0] ;
        $('#dtInizio').val(iso);
        caricaDati();

    });

    function caricaDati()
    {

        var inizio = $('#dtInizio').val();
        var fine = $('#dtFine').val();

        if (inizio > fine) {
            $('#lblMessage').html('La data inizio deve essere minore o uguale alla data fine.');
            $('#divReportBolle').html('');
            return;
        }

         var url = '@Url.Action("CaricaReportBolleVendita", "Report")';
        $.ajax({
            url: url,
            data: {
                Inizio: inizio,
                Fine: fine
            },
            cache: false,
            type: "POST",
            success: function (data)
            {
                $('#divReportBolle').html(data).show();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

  function Export()
    {

      var inizio = $('#dtInizio').val();
      var fine = $('#dtFine').val();

      if (inizio > fine) {
          $('#lblMessage').html('La data inizio deve essere minore o uguale alla data fine.');
          $('#divReportBolle').html('');
          return;
      }


        var url = '@Url.Action("ExportExcelBolleVendita", "Report")';
      url = url + '?inizio=' + inizio;
      url = url + '&fine=' + fine;


        var win = window.open(url, '_blank');
        win.document.title = "Export";
        win.focus();


    }


</script>
