@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Errore";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repoert web</title>
    <link href="~/Content/Site-1.0.4.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css">
    <script src="~/Scripts/External/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/External/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/External/bootstrap.min.js"></script>
    <script src="~/Scripts/External/jquery-ui-1.12.1.min.js"></script>
</head>
<body class="skin-blue content-wrapper spcBody">
    <section class="content">
        <div class="list-header clearfix">
            <H1><b>OPERAZIONE NON AUTORIZZATA</b></H1>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <img src="~/Content/Image/it2.gif" height="200" />
            </div>
        </div>
        <div>
            <div class="col-md-12">
                <p style="font-size:14pt">
                    L'utente ha cercato di eseguire una operazione per cui non è autorizzato.
                    La sessione è stata chiusa, eseguire nuovamente il login.
                </p>
                <p style="font-size:14pt">
                    @Html.ActionLink("Esegui login", "Login", "Account")
                </p>
            </div>
        </div>
    </section>
</body>
</html>